
<div class="row">
	<div class="col-lg-12">
   		<h1 class="page-header"><i class="fa fa-bar-chart-o fa-fw fa-1x"></i>Download Speed Average</h1>
    </div>
</div>


<div class = "row">
	
</div>
<div class = "row">
	<div class = "col-lg-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-cog fa-fw"></i> Options
			</div>
			<div class="panel-body">
				<form class="form">
					<div class="form-group">
						<label for="visualization">Visualization:</label>
						<select class="form-control" ng-change="selectType(visualization)" id="visualization" ng-model="visualization" ng-options="c.typeName for c in chartTypes"></select>
					</div>
					<div class="form-group">
						<label for="provider">Provider:</label>
						<select class="form-control" ng-change="selectProvider(currentProvider)" id="provider" ng-model="currentProvider" ng-options="p.typeName for p in providers"></select>
					</div>
					<div class="form-group">
						<input type="checkbox" ng-model="chart.globalAverage" ng-click="setGlobalAverages()"> 
						<label for="average">Global average</label>
					</div>
					<div class="form-group">
						<input type="checkbox" ng-model="chart.realTime" ng-click="setRealTime()"> 
						<label for="average">Real Time</label>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class = "col-lg-10">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-bar-chart-o fa-fw"></i> Chart
				<div class="pull-right">
					<div class="btn-group">
						<form class = "form-inline">
							<div class="form-group">
								<button ng-click = "prev()" class="btn btn-default btn-xs ">Prev</button>
								<button ng-click = "next()" class="btn btn-default btn-xs">Next</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="panel-body">
				
				<div dsaverage-chart id="averageChart"></div>
			</div>
		
	</div>
</div>
</div>

