
<div class="row">
	<div class="col-lg-12">
   		<h1 class="page-header"><i class="fa fa-bar-chart-o fa-fw fa-1x"></i>Domain Downloaded Data</h1>
    </div>
</div>

<div class = "row">
	
</div>
<div class = "row">
	<div class = "col-lg-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-cog fa-fw"></i> Options
			</div>
			<div class="panel-body">
				<form class="form">
					<div class="form-group">
						<input type="checkbox" ng-model="chart.realTime" ng-click="setRealTime()"> 
						<label for="average">Real Time</label>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class = "col-lg-10">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-bar-chart-o fa-fw"></i> Chart
			</div>
			<div class="panel-body">
				
				<div domainsize-chart id="domainSizeChart"></domainsize-chart>
				</div>
			</div>
		
	</div>
</div>
</div>


