<div class="row">
	<div class="col-lg-12">
   		<h1 class="page-header"><i class="fa fa-bar-chart-o fa-fw fa-1x"></i>Download Speed Frequencies</h1>
    </div>
</div>


<div class = "row">
	
</div>
<div class = "row">
	<div class = "col-lg-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-cog fa-fw"></i> Options
			</div>
			<div class="panel-body">
				<form class="form">
					<div class="form-group">
						<label for="visualization">Visualization:</label>
						<select class="form-control" ng-change="selectType(visualization)" id="visualization" ng-model="visualization" ng-options="c.typeName for c in chartTypes"></select>
					</div>
					<div class="form-group">
						<label for="provider">Provider:</label>
						<select class="form-control" ng-change="selectProvider(currentProvider)" id="provider" ng-model="currentProvider" ng-options="p.typeName for p in providers"></select>
					</div>
					<div class="form-group">
						<input type="checkbox" ng-model="chart.globalFrequency" ng-click="setGlobalFrequencies()"> 
						<label for="global">Global data</label>
					</div>
					<div class="form-group">
						<input type="checkbox" ng-model="chart.realTime" ng-click="setRealTime()"> 
						<label for="realtime">Real Time</label>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class = "col-lg-10">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-bar-chart-o fa-fw"></i> Chart
				
			</div>
			<div class="panel-body">
				User measures: {{userCount}}<br/>
				Global measures: {{globalCount}}
				<div dsfrequency-chart id="frequencyChart"></div>
				
			</div>
		</div>
		
	</div>
</div>

