<div ng-controller="CarouselDemoCtrl" id="slides_control">
  <div style="height: 350px">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" width="660" height="545" style="margin:auto;">
      </slide>
    </carousel>
  </div>
  
  <div align="center">
  	<h3><strong><p>With this application you can find out and monitor how fast your Internet connection is</p></strong></h3>
  	<h4>You just have to provide an email address to register</h4>
  </div>
  