
<div>
	<div>
		<span  class="text-info ">Current page: {{currentPage}}</span>
		<button  class="btn btn-default" ng-click="previousPage()">Prev</button>
		<button class="btn btn-default" ng-click="nextPage()">Next</button>
	</div>
			<div class="dropdown" ><br>
		  <span  class="text-info ">Table items:</span>
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    {{pageSizeButton}}
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" ng-model="pageSize">
		    <li><a ng-click="makeRequest(10)">10</a></li>
		    <li><a ng-click="makeRequest(25)">25</a></li>
		    <li><a ng-click="makeRequest(50)">50</a></li>
		    <li><a ng-click="makeRequest(100)">100</a></li>
		    <li><a ng-click="makeRequest(500)">500</a></li>
		  </ul>
	</div>


<table  style="table-layout: fixed; word-wrap: break-word;" datatable="ng" id="measureTable" dt-options="dtOptions" dt-columns="dtColumns" class="table table-striped table-bordered" >
    <thead>
        <tr>
            <th>Seq. number</th>
            <th>Client address</th>
            <th>AS number</th>
            <th>Server address</th>
            <th>Server domain</th>
            <th>Url</th>
            <th>Size</th>
            <th>Duration</th>
            <th>Download speed</th>
            <th>Connect time</th>
            <th>Resource type</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="measure in measures.content">
            <td  style="width:5%">{{$index}}</td>
            <td>{{measure.clientAddress}}</td>
            <td>{{measure.asnum}}</td>
            <td>{{measure.serverAddress}}</td>
            <td>{{measure.serverDomain}}</td>
            <td>{{measure.url | limitTo:50}}</td>
            <td>{{measure.size}}</td>
            <td>{{measure.duration}}</td>
            <td>{{measure.downloadSpeed}}</td>
            <td>{{measure.connectTime}}</td>
            <td>{{measure.resourceType}}</td>
            <td>{{measure.timestamp}}</td>
        </tr>
    </tbody>
 </table>
 
 </div>
 
 
 