<!doctype html>
<html>
<head>
    <!-- angularjs -->

	<link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <!--<link rel="stylesheet" type="text/css" href="css/dataTables.bootstrap.css">-->

    <link rel="stylesheet" type="text/css" href="css/datatables.bootstrap.min.css">
    <link rel="stylesheet" href="css/alertify.core.css">
    <link rel="stylesheet" href="css/alertify.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/ng-animation.css">
    
    <link rel="stylesheet" type="text/css" href="js/libs/plugins/datatables-colreorder/css/dataTables.colReorder.css">
    <link rel="stylesheet" type="text/css" href="js/libs/plugins/datatables-colvis/css/dataTables.colVis.css">
    <link rel="stylesheet" type="text/css" href="js/libs/plugins/datatables-colvis/css/dataTables.colvis.jqueryui.css">
    <link rel="stylesheet" type="text/css" href="js/libs/plugins/datatables-scroller/css/dataTables.scroller.css">
    
	
	
</head>

<!-- header begin -->
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
        	<div class="btn-group">
	        	    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pie Charts
	        	     <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
		                <li><a href="#/domainChart">Accessed domain</a></li>
		                <li><a href="#/domainSizeChart">Domain downloaded data</a></li>         
				  </ul>
			 </div>
			 
			 <div class="btn-group">
	        	  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Column Charts
	        	   <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
		                <li><a href="#/averageChart">Download speed averages</a></li>
		                <li><a href="#/frequencyChart">Download speed frequency</a></li>
		                <li><a href="#/latencyChart">Download latency</a></li>         
				  </ul>
			  </div>

			 <div class="btn-group">
	        	  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tables
	        	   <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
	                <li><a href="#/measures">Measures table</a></li>        
				  </ul>
			 </div>
			 
			 <div class="btn-group">
	        	   <ul class="nav navbar-nav">
	                <li><a href="#/registration">Registration</a></li>
	                <li><a href="#/">Home</a></li>             
				  </ul>        	  
			 </div>
        </div>

        <div ng-controller="LoginController" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div id="login-placeholder">
                <span ng-if="!authenticated">
                <div class="navbar-form navbar-right">
	                <form ng-submit="login()" id="signin" role="form">
	                    <div class="input-group">
	                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
	                        <input ng-model="credentials.username" id="user" type="username" class="form-control" name="user" value="" placeholder="Username">
	                    </div>
	                    <div class="input-group">
	                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
	                        <input ng-model="credentials.password" id="password" type="password" class="form-control" name="password" value="" placeholder="Password">
	                    </div>
	                    <button type="submit" class="btn btn-primary">Login</button>
	                </form>
	               </div>
                </span>
                <span ng-if="authenticated">
                <form ng-submit="logout()" id="signout" class="navbar-form navbar-right" role="form">
                    Logged in as {{ credentials.username }} &nbsp;
                    <button type="submit" class="btn btn-primary">Logout</button>
                </form>
                    </span>
            </div>
     
        </div>
    </div>
</nav>

 <div class="container">
    <div ng-view></div>
</div>

	<script src="js/libs/jquery.js"></script>
    <script src="js/libs/jquery-ui.js"></script>
    
    <script src="js/libs/underscore.js"></script>
    <script src="js/libs/moment.js"></script>
    <script src="js/libs/moment-range.js"></script>
    
    
    <!--  <script src = "js/libs/dataTables.bootstrap.js"></script> -->
    
    <script src="js/libs/angular.js"></script>
    <script src="js/libs/angular-route.js"></script>
    <script src="js/libs/angular-resource.js"></script>
    
    <script src="js/libs/bootstrap.js"></script>
	<script src="js/libs/ui-bootstrap-0.13.3.min.js"></script>
    
    <script src="js/libs/angular-datatables.min.js"></script>
    <script src = "js/libs/jquery.dataTables.min.js"></script>	
    <script src = "js/libs/plugins/bootstrap/angular-datatables.bootstrap.min.js"></script>
    <script src = "js/libs/plugins/datatables-colreorder/js/dataTables.colReorder.js"></script>
    <script src = "js/libs/plugins/colreorder/angular-datatables.colreorder.min.js"></script>
    <script src = "js/libs/plugins/datatables-columnfilter/js/dataTables.columnFilter.js"></script>
    <script src = "js/libs/plugins/columnfilter/angular-datatables.columnfilter.min.js"></script>
    <script src = "js/libs/plugins/datatables-colvis/js/dataTables.colVis.js"></script>
    <script src = "js/libs/plugins/colvis/angular-datatables.colvis.min.js"></script>
    <script src = "js/libs/plugins/datatables-scroller/js/dataTables.scroller.js"></script>
    <script src = "js/libs/plugins/scroller/angular-datatables.scroller.min.js"></script>

	<script type="text/javascript" src="https://www.google.com/jsapi"></script>  

	<script src="js/libs/alertify.js"></script>
	
	<script src="js/libs/angular-animate.min.js"></script>
	<script type="text/javascript" src="js/libs/ui-bootstrap-tpls.min.js"></script>

	<script src="js/app.js"></script>
	<script src = "js/downloadSpeedAverageChart.js"></script>
	<script src = "js/downloadSpeedFrequencyChart.js"></script>
	<script src = "js/downloadLatencyChart.js"></script>
	<script src = "js/domainChart.js"></script>
	<script src = "js/domainSizeChart.js"></script>
	<script src = "js/login.js"></script>
	<script src = "js/measuresTable.js"></script>
	<script src = "js/registration.js"></script>
	
</body>
</html>